*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.textos-header{
    color: #34801e;
    font-size: 25px;
    text-align: center;
    margin-bottom: 60px; 
}
